<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario Editar</title>
</head>
<body>
    <h1>Editar Dato de Alumno</h1>
    <br><br>
    <form action="actualizar_parlante" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id_parlante" value="{{parlante.id_parlante}}">
        <label>Nombre   :</label><input type="text" name="nombre" value="{{parlante.nombre}}"><br>
        <label>Tipo   :</label>
         <select name="tipo" value="{{parlante.genero}}">
             <option value="Seleccionar" disabled>Seleccionar</option>
             {% if parlante.tipo == "bazucas" %}
                 <option value="bazucas" selected>Bazuca</option>
             {% else %}
                 <option value="bazucas">Bazuca</option>
             {% endif %}

             {% if parlante.tipo == "karaoke" %}
                 <option value="karaoke" selected>Karaoke</option>
             {% else %}
                 <option value="karaoke">Karaoke</option>
             {% endif %}

             {% if parlante.tipo == "parlantes" %}
                 <option value="parlantes" selected>Parlante</option>
             {% else %}
                 <option value="parlantes">Parlante</option>
             {% endif %}

             {% if parlante.tipo == "cubos" %}
                 <option value="cubos" selected>Cubo</option>
             {% else %}
                 <option value="cubos">Cubo</option>
             {% endif %}

             {% if parlante.tipo == "deDJ" %}
                 <option value="deDJ" selected>De DJ</option>
             {% else %}
                 <option value="deDJ">De DJ</option>
             {% endif %}
         </select>
        <br>

        <td><label>Foto     :</label><td>
                 <input type="file" name="foto" id="id_foto"

                        >
        {% if parlante.foto %}
           <tr><td><p>{{parlante.foto.url }}</p></td></tr>
          <tr><td><p><img src="{{parlante.foto.url}}"></p></td></tr>
        {% endif %}
        <br><br>
        <input type="submit" name="opcion" value="Actualizar">
    </form>
</body>
</html>