<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar</title>
</head>
<body>
    <h1>Agregar Alumno</h1>
    <br><br>

    <form action="agregar_alumno" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Nombre     :</label><input type="text" name="nombre"><br>
         <select name="tipo">
             <option value="seleccionar" disabled>Seleccionar</option>
             <option value="bazucas">Bazuca</option>
             <option value="Karaoke">Karaoke</option>
             <option value="parlantes">Parlante</option>
             <option value="cubos">Cubo</option>
             <option value="deDJ">De DJ</option>
         </select>

        <tr><td><label>Foto     :</label><td><input type="file" name="foto">
        <br><br>
        <input type="submit" name="opcion" value="Grebar">
    </form>
</body>
</html>