<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar</title>
</head>
<body>
    <h1>Agregar Alumno</h1>
    <br><br>

    <form action="agregar_alumno" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Rut        :</label><input type="text" name="rut"><br>
        <label>Nombre     :</label><input type="text" name="nombre"><br>
        <label>A.Paterno  :</label><input type="text" name="aPaterno"><br>
        <label>A.Materno  :</label><input type="text" name="aMaterno"><br>
        <label>Fecha Nac. :</label><input type="date" name="fechaNac"><br>
        <label>Género     :</label>
         <select name="genero">
             <option value="seleccionar" disabled>Seleccionar</option>
             <option value="masculino">Masculino</option>
             <option value="femenino">Femenino</option>
         </select>

        <tr><td><label>Foto     :</label><td><input type="file" name="foto">
        <br><br>
        <input type="submit" name="opcion" value="Grebar">
    </form>
</body>
</html>